<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/applicationContext.xml
        </param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>#{vr.theme.components}</param-value>
    </context-param>

    <context-param>
        <param-name>upa.web.context-url-filter</param-name>
        <param-value>*.xhtml|/fs/*|/p/*|/u/*|/ws/*|/services/rss/*</param-value>
    </context-param>

    <context-param>
        <param-name>upa.web.context-switch</param-name>
        <param-value>net.vpc.app.vainruling.core.web.util.VrWebContextSwitch</param-value>
    </context-param>

    <filter>
        <filter-name>TokenFilter</filter-name>
        <filter-class>net.vpc.app.vainruling.core.web.ws.TokenManagerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TokenFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <listener>
        <listener-class>net.vpc.upa.web.UPAServletContextListener</listener-class>
    </listener>


    <!--<servlet>-->
    <!--<servlet-name>Jersey Servlet</servlet-name>-->
    <!--<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>-->
    <!--<init-param>-->
    <!--<param-name>javax.ws.rs.Application</param-name>-->
    <!--<param-value>net.vpc.app.vainruling.core.web.rest.VRApplication</param-value>-->
    <!--</init-param>-->
    <!--<init-param>-->
    <!--<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>-->
    <!--<param-value>true</param-value>-->
    <!--</init-param>-->
    <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->


    <!--<servlet-mapping>-->
    <!--<servlet-name>Jersey Servlet</servlet-name>-->
    <!--<url-pattern>/ws2/*</url-pattern>-->
    <!--</servlet-mapping>-->


    <!--<servlet>-->
        <!--<servlet-name>spring</servlet-name>-->
        <!--<servlet-class>-->
            <!--org.springframework.web.servlet.DispatcherServlet-->
        <!--</servlet-class>-->

        <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>spring</servlet-name>-->
        <!--<url-pattern>/ws/*</url-pattern>-->
    <!--</servlet-mapping>-->

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>


    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>


    <filter>
        <filter-name>security</filter-name>
        <filter-class>net.vpc.app.vainruling.core.web.ctrl.VrWebSecurityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>security</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>install</filter-name>
        <filter-class>net.vpc.app.vainruling.core.web.install.VrConfigureInstallFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>install</filter-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/index.xhtml</url-pattern>
        <url-pattern>/r/index.xhtml</url-pattern>
    </filter-mapping>

    <!--
        UPA Support
        Should be declared before Spring Context to
        help initialize UPA web context before Services
        are created in Spring
    -->

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/r/*</url-pattern>
    </servlet-mapping>


    <!-- Java Melody -->

    <filter>
        <filter-name>javamelody</filter-name>
        <filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
        <async-supported>true</async-supported>
    </filter>
    <filter-mapping>
        <filter-name>javamelody</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>ASYNC</dispatcher>
    </filter-mapping>
    <listener>
        <listener-class>net.bull.javamelody.SessionListener</listener-class>
    </listener>
    <!-- End Java Melody -->

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>r/index.xhtml</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/index.xhtml</location>
    </error-page>
    <!--<error-page>-->
    <!--<error-code>404</error-code>-->
    <!--<location>/r/login.xhtml</location>-->
    <!--</error-page>-->
</web-app>
