/runtime
/misc/
/api/vr-api-service/target/
/api/vr-api-web/target/
/plugins/common-model/vr-common-model-web/target/
/plugins/filesystem/vr-filesystem-service/target/
/plugins/common-model/vr-common-model-service/target/
/plugins/filesystem/vr-filesystem-web/target/
/plugins/academic/vr-academic-service/target/
/plugins/academic/vr-academic-web/target/
/plugins/tasks/vr-tasks-web/target/
/plugins/academic-internship/vr-academic-internship-service/target/
/plugins/tasks/vr-tasks-service/target/
/plugins/mailbox/vr-mailbox-service/target/
/plugins/mailbox/vr-mailbox-web/target/
/plugins/blog/vr-blog-service/target/
/plugins/articles/vr-articles-service/target/
/plugins/equipments/vr-equipments-service/target/
/plugins/inventory/vr-inventory-service/target/
/plugins/forum/vr-forum-service/target/
/core/vr-core-service/target/
/plugins/articles/vr-articles-web/target/
/core/vr-core-web/target/
/vr-app-service/target/
/vr-app-web/target/
/vr-app-web-maintenance/target/
/vr-app-service-test/target/
/plugins/dev-toolbox/vr-mailbox-service/target/
/plugins/dev-toolbox/vr-mailbox-web/target/
/plugins/dev-toolbox/vr-dev-toolbox-service/target/
/plugins/dev-toolbox/vr-dev-toolbox-web/target/
/plugins/sample-plugin/vr-sample-plugin-service/target/
/plugins/sample-plugin/vr-sample-plugin-web/target/
/vr-app-service-test/
/plugins/academic-internship/vr-academic-internship-web/target/
/plugins/ui-template-infusion-plugin/ui-template-infusion-web/target/
/plugins/academic-directory/vr-academic-directory-service/target/
/plugins/academic-directory/vr-academic-directory-web/target/
/plugins/academic-directory/vr-academic-addressbook-service/target/
/plugins/academic-directory/vr-academic-addressbook-web/target/
/plugins/academic-addressbook/vr-academic-addressbook-service/target/
/plugins/academic-addressbook/vr-academic-addressbook-web/target/
/plugins/academic-report/vr-academic-addressbook-service/target/
/plugins/academic-report/vr-academic-addressbook-web/target/
/plugins/academic-teacher-eval/vr-academic-report-service/target/
/plugins/academic-teacher-eval/vr-academic-report-web/target/
/plugins/academic-perf-eval/vr-academic-teacher-eval-service/target/
/plugins/academic-perf-eval/vr-academic-teacher-eval-web/target/
/plugins/academic-perf-eval/vr-academic-perf-eval-service/target/
/plugins/academic-perf-eval/vr-academic-perf-eval-web/target/
/plugins/academic-eval/vr-academic-perf-eval-service/target/
/plugins/academic-eval/vr-academic-perf-eval-web/target/
/plugins/academic-report/vr-academic-report-web/target/
/plugins/academic-eval/vr-academic-eval-service/target/
/plugins/academic-eval/vr-academic-eval-web/target/
/plugins/academic-planning/vr-academic-perf-eval-service/target/
/plugins/academic-planning/vr-academic-perf-eval-web/target/
/plugins/academic-planning/vr-academic-planning-web/target/
/plugins/academic-planning/vr-academic-planning-service/target/
/plugins/ui-template-infusion-plugin/ui-app-theme-infusion/target/
/plugins/themes/ui-app-theme-infusion/target/
/old/api/vr-api-service/target/
/old/api/vr-api-web/target/
/plugins/themes/ui-component-theme-infusion/target/.idea
private/
.idea/
/apps/eniso-info/eniso-info-service/target/
/core/vr-plugin/target/
/core/vr-core/vr-core-service/target/
/core/vr-core/vr-core-web/target/
/plugins/calendars/vr-calendars-service/target/
/plugins/calendars/vr-calendars-web/target/
/plugins/blog/vr-blog-web/target/
/plugins/forum/vr-forum-web/target/
/plugins/equipments/vr-equipments-web/target/
/plugins/academic-report/vr-academic-report-service/target/
/plugins/academic-project-based-learning/vr-academic-project-based-learning-service/target/
/plugins/academic-project-based-learning/vr-academic-project-based-learning-web/target/
/plugins/academic-profile/vr-academic-profile-service/target/
/plugins/academic-profile/vr-academic-profile-web/target/
/plugins/themes/vr-private-theme-sb-admin/target/
/plugins/themes/vr-private-theme-adminlte/target/
/plugins/themes/vr-public-theme-infusion/target/
/plugins/themes/vr-public-theme-crew/target/
/plugins/equipment-tracker/vr-equipment-tracker-web/target/
/plugins/equipment-tracker/vr-equipment-tracker-service/target/
/core/vr-core/vr-core-model/target/
/core/vr-toolbox/src/main/resources/META-INF/templates/custom-vr-application/app/custom-vr-application-app-service/nbproject/
/core/vr-toolbox/src/main/resources/templates/app/custom-vr-application-app-web/target
/core/vr-toolbox/src/main/resources/templates/plugins/custom-vr-application-custom-plugin/custom-plugin-service/target
/core/vr-toolbox/src/main/resources/templates/plugins/custom-vr-application-custom-plugin/custom-plugin-web/target
/core/vr-toolbox/src/main/resources/templates/plugins/custom-vr-application-main/custom-vr-application-main-service/target/
/core/vr-toolbox/src/main/resources/templates/plugins/custom-vr-application-main/custom-vr-application-main-web/target/
/core/vr-toolbox/target/
/core/vr-toolbox/src/main/resources/META-INF/templates/app/project-app-web/target/
/core/vr-toolbox/plugins/main/main-service/target/
/core/vr-toolbox/app/my-project-app-service/target/
/core/vr-toolbox/plugins/main/main-web/target/
/apps/eniso-info/app/eniso-info-app-service/target/
/apps/eniso-info/app/eniso-info-app-web/target/
/core/vr-core-rest-client/target/
/core/vr-plugin-archetype/target/
/apps/eniso-info/plugins/custom-plugin/custom-plugin-service/target/
/apps/eniso-info/plugins/custom-plugin/custom-plugin-web/target/
/apps/eniso-info/plugins/eniso-info-main/eniso-info-main-service/target/
/apps/eniso-info/plugins/eniso-info-main/eniso-info-main-web/target/
/core/vr-plugin-base-archetype/target/
/documents/eniso.info/doc/enisoinfo-guide-enseignants.lyx~
/runtime/intertek/
/core/vr-core/vr-core-web-jsf/target/
/core/vr-nb-integration/target/
/core/vr-nb-integration-ide/application/target/
/core/vr-nb-integration-ide/branding/target/
/core/vr-box/src/main/resources/META-INF/templates/plugins/themes/vr-public-theme-infusion/target/
/core/vr-box/src/main/resources/META-INF/templates/plugins/themes/vr-private-theme-sb-admin/target/
/core/vr-box/src/main/resources/META-INF/templates/plugins/themes/vr-private-theme-adminlte/target/
/core/vr-box/src/main/resources/META-INF/templates/plugins/themes/vr-public-theme-crew/target/
/core/vr-box/src/main/resources/META-INF/templates/plugins/theme-back/target/
/core/vr-box/target/
/core/vr-plugin/vr-plugin.iml
/plugins/equipment-tracker/vr-equipment-tracker-service/vr-equipment-tracker-service.iml
/plugins/equipment-tracker/vr-equipment-tracker-web/vr-equipment-tracker-web.iml
/plugins/equipments/vr-equipments.iml
/plugins/equipments/vr-equipments-service/vr-equipments-service.iml
/plugins/equipments/vr-equipments-web/vr-equipments-web.iml
/plugins/forum/vr-forum.iml
/plugins/forum/vr-forum-service/vr-forum-service.iml
/plugins/forum/vr-forum-web/vr-forum-web.iml
/plugins/mailbox/vr-mailbox.iml
/plugins/mailbox/vr-mailbox-service/vr-mailbox-service.iml
/plugins/mailbox/vr-mailbox-web/vr-mailbox-web.iml
/plugins/themes/vr-private-theme-adminlte/vr-private-theme-adminlte.iml
/plugins/themes/vr-private-theme-sb-admin/vr-private-theme-sb-admin.iml
/plugins/themes/themes.iml
/vain-ruling.iml
/plugins/academic/vr-academic.iml
/plugins/academic-perf-eval/vr-academic-perf-eval.iml
/plugins/academic-perf-eval/vr-academic-perf-eval-service/vr-academic-perf-eval-service.iml
/plugins/academic-perf-eval/vr-academic-perf-eval-web/vr-academic-perf-eval-web.iml
/plugins/academic-planning/vr-academic-planning.iml
/plugins/academic-planning/vr-academic-planning-service/vr-academic-planning-service.iml
/plugins/academic-planning/vr-academic-planning-web/vr-academic-planning-web.iml
/plugins/academic-profile/vr-academic-profile.iml
/plugins/academic-profile/vr-academic-profile-service/vr-academic-profile-service.iml
/plugins/academic-profile/vr-academic-profile-web/vr-academic-profile-web.iml
/plugins/academic-project-based-learning/vr-academic-project-based-learning.iml
/plugins/academic-project-based-learning/vr-academic-project-based-learning-service/vr-academic-project-based-learning-service.iml
/plugins/academic-project-based-learning/vr-academic-project-based-learning-web/vr-academic-project-based-learning-web.iml
/plugins/academic-report/vr-academic-report.iml
/plugins/academic-report/vr-academic-report-service/vr-academic-report-service.iml
/plugins/academic-report/vr-academic-report-web/vr-academic-report-web.iml
/plugins/academic/vr-academic-service/vr-academic-service.iml
/plugins/academic/vr-academic-web/vr-academic-web.iml
/plugins/blog/vr-blog.iml
/plugins/blog/vr-blog-service/vr-blog-service.iml
/plugins/blog/vr-blog-web/vr-blog-web.iml
/core/vr-box/vr-box.iml
/plugins/calendars/vr-calendars.iml
/plugins/calendars/vr-calendars-service/vr-calendars-service.iml
/plugins/calendars/vr-calendars-web/vr-calendars-web.iml
/core/vr-core/vr-core.iml
/core/vr-core/vr-core-model/vr-core-model.iml
/core/vr-core/vr-core-service/vr-core-service.iml
/core/vr-core/vr-core-web/vr-core-web.iml
/core/vr-core/vr-core-web-jsf/vr-core-web-jsf.iml
/plugins/dev-toolbox/vr-dev-toolbox.iml
/plugins/dev-toolbox/vr-dev-toolbox-service/vr-dev-toolbox-service.iml
/plugins/dev-toolbox/vr-dev-toolbox-web/vr-dev-toolbox-web.iml
/plugins/equipment-tracker/vr-equipment-tracker.iml
/plugins/themes/vr-public-theme-crew/vr-public-theme-crew.iml
/plugins/themes/vr-public-theme-infusion/vr-public-theme-infusion.iml
/plugins/tasks/vr-tasks.iml
/plugins/tasks/vr-tasks-service/vr-tasks-service.iml
/plugins/tasks/vr-tasks-web/vr-tasks-web.iml
