<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <span><span>{{entityInfo.title}}</span></span>
      </nb-card-header>

      <nb-card-body>
        <div class="row">
          <div class="example-container col-sm-1 col-md-1 col-xl-1 col-xxxl-1" *ngFor="let hb of settings">
            <button class="btn {{ hb.class }} btn-demo" style="width: 100%">{{ hb.buttonTitle }}</button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>


<form>
  <div *ngFor="let row of editorRows" class="row">
    <div *ngFor="let col of row.children" class="{{row.cols}}">
      <nb-card *ngFor="let panel of col.children" class="inline-form-card">
        <nb-card-header>{{panel.title}}</nb-card-header>
        <nb-card-body>
          <div *ngFor="let f of panel.children; let i=index">

            <div *ngIf="f.control == 0; else elseBlock1" class="form-group row">

              <label class="col-sm-3 col-form-label" for="i1"> {{f.title}}</label>
              <div class="col-sm-9">
                <input type="text" placeholder="" class="form-control" id="i1" [disabled]="!f.enabled"/>

              </div>

            </div>
            <ng-template #elseBlock1>
              <div *ngIf="f.control == 1; else elseBlock2" class="form-group row">

                <label class="col-sm-3 col-form-label">{{f.title}}</label>
                <div class="col-sm-9 ">
                        <textarea rows="5" placeholder="Text Area" class="form-control"
                                  [disabled]="!f.enabled"></textarea>
                </div>

              </div>

              <ng-template #elseBlock2>
                <div *ngIf="f.control == 2; else elseBlock3" class="form-group row">
                  <label class="col-sm-3 col-form-label">{{f.title}}</label>
                  <div class="col-sm-9">
                    <input [disabled]="!f.enabled" type="text" placeholder="" class="form-control"/>
                  </div>

                </div>

                <ng-template #elseBlock3>
                  <div *ngIf="f.control == 3; else elseBlock4" class="form-group row">
                    <div class="offset-sm-3 col-sm-9">
                      <nb-checkbox status="success" [disabled]="!f.enabled">{{f.title}}</nb-checkbox>
                    </div>

                  </div>

                  <ng-template #elseBlock4>
                    <div *ngIf="f.control == 4" class="form-group row">
                      <label class="col-sm-3 col-form-label">{{f.title}}</label>
                      <div class="form-group col-sm-9">
                        <select class="form-control">

                          <option *ngFor="let val of f.vals; let i=index" id="val.id">{{val.name}}</option>

                        </select>
                      </div>
                    </div>
                  </ng-template>
                </ng-template>
              </ng-template>
            </ng-template>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</form>





