<div class="contact">
  <nb-user [picture]="Picture" [name]="ProfileCv.student.contact.fullName" [title]="" size="large"></nb-user>
</div>

<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <span><span>Identity informations</span></span>
      </nb-card-header>

      <nb-card-body>
          <form _ngcontent-c11="" novalidate="" class="ng-untouched ng-pristine ng-valid">
            <div _ngcontent-c11="" class="form-group">
              <label _ngcontent-c11="" >CIN</label>
              <input _ngcontent-c11="" class="form-control" placeholder={{ProfileCv.student.contact.nin}} type="text">
            </div>
            <div _ngcontent-c11="" class="form-group">
              <label _ngcontent-c11="">email</label>
              <input _ngcontent-c11="" class="form-control"  placeholder={{ProfileCv.student.contact.email}} type="text">
            </div>
            <div _ngcontent-c11="" class="form-group">
              <label _ngcontent-c11="">Phone number</label>
              <input _ngcontent-c11="" class="form-control"  placeholder={{ProfileCv.student.contact.phone1}} type="text">
            </div>
            <div _ngcontent-c11="" class="form-group">
              <label _ngcontent-c11="">Birth Date</label>
              <input _ngcontent-c11="" class="form-control"  placeholder={{ProfileCv.student.contact.birthDate}} type="text">
            </div>
          </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div>
  <nb-card>
    <nb-card-header>
      My Projects Table
    </nb-card-header>

    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
</div>
